.roboto {
  font-family: "Roboto Condensed", sans-serif;
}
body{
    background-color: #0f0f0f;
}
/* news line css */
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }